-f https://download.pytorch.org/whl/torch_stable.html 
torch==2.0.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html 
torchvision==0.15.1+cpu
fastapi[all]==0.98.0
transformers==4.30.2
datasets==2.13.1
Pillow==9.5.0
locust